:root {
  --main-color: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Figtree", sans-serif;
  background-color: var(--main-color);
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  overflow: hidden;
  background-color: var(--White);
  position: relative;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
  box-shadow: 10px 10px;
  border: 1px solid black;
}
.card .image img {
  border-radius: 20px;
}
.card .data h4 {
  position: relative;
  margin: 20px 0;
  padding: 10px;
  background-color: var(--main-color);
  width: fit-content;
  text-align: center;
  border-radius: 10px;
}
.card .data .brief {
  font-size: 16px;
  color: var(--Black);
}
.card .data h2 {
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.card .data h2:hover {
  color: var(--main-color);
}
.card .data .long {
  color: var(--Grey);
  width: 250px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.3;
}
.card .person {
  display: flex;
}
.card .person .avatar img {
  width: 30px;
}
.card .person h4 {
  position: relative;
  padding-left: 15px;
  /* Did'nt find a better way to fix that.. Could u help ? */
  bottom: -5px;
}
